.row{
    display:flex;
    width:90%;
    height:100px;
    border:solid 5px;
    align-items:center;
}
.col{
    flex: 1;
    padding: 20px;
    margin: 10px;
    background-color:violet;
}
.col-2{
    flex: 2;
    padding: 20px;
    margin: 10px;
    background-color:purple;
}
.col-3{
    flex: 3;
    padding: 20px;
    margin: 10px;
    background-color:crimson;
}